<section style="margin: 0 auto; display: flex; flex-direction: column; align-items: center;">
    <div style="background-color: blueviolet; color: #fff; text-align: center; padding: 01rem 05rem; width: 70%;">
        <h1>Todo App</h1>
    </div>
    <form action="/home/todo" method="post" style="display: flex; flex-direction: column; margin: 0 auto; padding:  1rem 3rem; align-items: center; box-shadow: 1px 1px 5px #000; margin: 1rem 2rem; border-radius: 7px;">
        <input name="todo" type="text" placeholder="Enter Todo item"
            style="border: 1px solid grey; padding: 0.8rem; margin: 0.9rem; border: none; border-radius: 5px; width: 100%;" />
        <button
          type="submit"  style="background-color: blueviolet; color: #fff; border: none; border-radius: 5px; padding: 0.7rem; width: 25%; ">ADD</button>
    </form>
    <div>
        <h3>No Data to display</h1>
    </div>
</section>